/* hide window controls */
div[aria-label="Close window"] { display: none !important; }
div[aria-label="Restore down"] { display: none !important; }
div[aria-label="Minimize"] { display: none !important; }

/* adjust title size */
.markdown-preview-view .inline-title,
.markdown-source-view.mod-cm6 .inline-title {
  font-size: 2.3rem;
}

/* adjust icon */
.banner-icon {
  padding-left: 0.5rem;
}

/* remove borders around properties */
.metadata-container {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

/* add space around code blocks */
.cm-line:has(+ .HyperMD-codeblock-begin) {
  padding-bottom: 1rem !important;
}

.HyperMD-codeblock-end + .cm-line {
  padding-top: 1rem !important;
}

/* add space around callouts */
.cm-line:has(+ .cm-callout) {
  padding-bottom: 1rem !important;
}

.cm-callout + .cm-line {
  padding-top: 1rem !important;
}

/* add rounded corners to the callout title */
.callout-title {
  border-radius: 5px 5px 0 0;
}

/* remove link underlines */
.markdown-rendered .internal-link,
.cm-s-obsidian span.cm-hmd-internal-link,
.markdown-source-view.mod-cm6 .cm-underline {
  text-decoration: none !important;
}

/* prettify hovering */
a:hover {
  text-decoration: none !important;
  transition: 0.3s ease !important;
}

/* Anti-Flash Spell™ */
.is-flashing,
.is-flashing * {
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
  animation: none !important;
  transition: none !important;
}
